.c-footer {
    @extend %pb-xl;
    color: $gray;

    // add z-index to raise it above content and not be cropped by its background
    position: relative;
    z-index: 1000;

    .c-widget__title:after {
        @extend %pb-s;
    }
}

.c-footer__zone {
    & + & {
        @extend %mt-l;
    }
}

.c-footer__zone--bottom {
    @extend %fs-15;
    text-align: center;

    .menu {
        @extend %mt-s;
        @extend %mb-s;

        display: flex;
        justify-content: center;

        a {
            @extend %p-xs;
        }
    }
}
